[Unit]
Description=Takipi daemon
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root

ExecStart=/opt/takipi/bin/takipi-service --selfrestart --noforkdaemon
Restart=always

[Install]
WantedBy=multi-user.target