
# In the section below, uncomment the JVM path for the relevant Java environment (JDK or JRE) and fill in the path to the Java Installation Directory.
#
# Uncomment for jdk
# jvmPath=<JAVA_INST_DIR>/jre/lib/amd64/server/libjvm.so
#
# Uncomment for jre
# jvmPath=<JAVA INST_DIR>/lib/amd64/server/libjvm.so

# Enter the path to the Collector directory
libraryPath=<COLLECTOR_DIR>/lib

takipi.backend.url=https://backend.overops.com
takipi.storage.test.url=https://s3.amazonaws.com/app-takipi-com/ConnectionTest
takipi.jvm.heap.size=1G
takipi.listen.port=
takipi.server.name=
